{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/Sarnath.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hey my name is Joseph and I am a cloud and DevOps engineer. I am passionate about finding innovative ways to automate tasks to free up time for other tasks.</p>
        <p>While I always have excelled in math and science, I chose an unconventional path by studying Sociology. Focusing on quantitative statistics allowed me to strike a balance between my strengths, such as math, and developing my writing skills as well</p>
        <p>Since the start of 2022 I have devoted most of my time outside of work learning cloud technologies. I began with the basics of cloud computing and AWS. Later on I learned more advanced topics such as Terraform, DevOps, serverless and containers. Most recently I have branched out to learn Microsoft Azure to ensure I have the skills to perform in a multi-cloud environment</p>
        <p>Outside of my professional life, I am interested in Buddhist philosophy and meditation. In my spare time I like to teach meditation to others.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}