
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Joseph Ting | Cloud/DevOps Engineer | josephting919@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/static/css/resume.css" media="all" />


</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q41CKQ1DS5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q41CKQ1DS5');
</script>
<body>

<div id="doc2" class="yui-t7">

	<div id="inner">


		<div id="hd">
			<div class="yui-gc">

				<div class="yui-u first">
					<h1>Joseph Ting</h1>
					<h2>Cloud/DevOps Engineer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="/">Back Home</a></h3>
						<h3><a href="mailto:josephting919@gmail.com">josephting919@gmail.com</a></h3>
						<h3>(587)-889-9637</h3>
						<h3>Edmonton Alberta, Canada</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Introduction</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Conscientious and resourceful problem solver with over a year of experience building automated cloud solutions.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<!-- <div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Cloud Engineering</h2>
									<p>Configuring and administering cloud resources. Automating cloud tasks</p>
								</div>

								<div class="talent">
									<h2>DevOps</h2>
									<p>Implementing and maintaining CI/CD pipelines and observability. </p>
								</div>

						</div>
					</div> -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technology Stack</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>AWS & Azure</li>
								<li>SQL</li>
								<li class="last">Python</li>
							</ul>

							<ul class="talent">
								<li>Jenkins</li>
								<li>Git & Github Actions</li>
								<li class="last">Terraform</li>
							</ul>

							<ul class="talent">
								<li>Docker & Kubernetes</li>
								<li>Ansible</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job">
								<h2>Cloud Training</h2>
								<h3>Solutions Architect, Cloud and DevOps Engineer</h3>
								<h4>January 2022-Current</h4>
								<p>-Automating cloud tasks using scripting (Python, Boto3, Bash, Azure CLI). <br>
								   -Provisioning virtual networks (subnets, CIDR blocks, route tables, peering, endpoints, network firewalls, etc.). <br>
							       -Identity and Access Management (AWS IAM, Azure AD, role-based access control (RBAC)).<br>
							       -Configuring object-level storage, SQL databases (RDS, Postgres), and DynamoDB. <br>
								   -Making systems highly available (load balancers, autoscaling/scalesets, failover routing). <br>
								   -Setting up disaster recovery (snapshots, backup policy, site recovery). <br>
								   -Implementing observability (Cloudwatch Logs, Azure Monitor, Prometheus and Grafana). <br>
								   -Managing configuration using Ansible playbooks. <br>
								   -Using IaC tools to provision cloud resources (e.g. Terraform, Cloudformation). <br>
								   -Creating and maintaning CI/CD pipelines using technologies including Jenkins, Github Actions, Maven, Nexus Artifactory, Docker, Kubernetes, Ansible. <br>
								   -Implementing DevSecOps tools including static analysis (Sonarqube, Trivy) and dynamic application testing (OWASP ZAP). <br>
									<h3>Major Projects</h3> <br>
								<b>Python blog application</b> <br>
								   -Containerizing a Flask application, provisioning and configuring a Postgres database with backup, automating deployment to environments with github actions, monitoring with Prometheus and Grafana. <br> <br>
								<b>Three Tier Architecture</b> <br>
								   -Using Terraform and Cloudformation to provisioning networking (security groups, subnets), load balancers, front-end web applications, backend servers and RDS database. <br> <br>
								<b>Serverless Architecture</b>  <br>
								   -Using Terraform and to provision serverless solution using API gateway, Lambda, RDS, Cloudwatch Logs, Secrets Manager and more. <br> <br>
								<b>Deploying full stack app to EKS</b> <br>
								   -Creating Kubernetes manifest files and deploying to an EKS cluster. <br> </p>
							</div>
							<div class="job last">
								<h2>Government of Alberta</h2>
								<h3>Demographic Analyst</h3>
								<h4>February 2016-Current</h4>
								<p>-Serving as a subject matter expert, consulting with internal and external stakeholders.<br>
								   -Cleaning and preparing large volumes of data (millions of records).<br> 
								   -Extensive querying, manipulating and analyzing of data using SQL language.<br>
								   -Dealing with highly sensitive information such as health records.<br>
								   -Running statistical models.<br>
								   -Leading the production of population forecasts for Alberta. <br>
								   -Producing reports and briefings for ministers.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Certifications</h2>
						</div>
						<div class="yui-u">
							<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="7a33cbd7-3ea6-4483-a6fb-2565e3a60520" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
							<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="5ed8f48d-b30e-46cb-ae63-8d1980b06bf4" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
							<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="4b1cd417-fb15-4f63-8f24-9bc894fc4b3a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
							<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="5bcc5ad2-82d2-4b98-8da6-38b7d89118fa" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Calgary - Calgary, Alberta, Canada</h2>
							<h3>MA, Sociology (statistics concentration) </h3>
							<p>-Completed a thesis where I analyzed secondary survey data, using multiple and logistic regression to examine the relationship between social variables and attitudes towards climate change.</p>
						</div>
					</div><!--// .yui-gf -->

				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Joseph Ting &mdash; <a href="mailto:josephting919@gmail.com">josephting919@gmail.com</a> &mdash; (587) - 889-9637</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

{% include "footer.html" %}