<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<header>
		<img src="img/aws-sa-pro.png" style="display: inline-block; width: 50%;">
		<img src="img/aws-dev-asso.png" style="display: inline-block; width: 50%;">
		<img src="img/cka.png" style="display: inline-block; width: 50%;">
		<img src="img/az-admin.png" style="display: inline-block; width: 50%;">
	  </header>
	
	<title>Joseph Ting | Cloud/DevOps Engineer | josephting919@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="../static/css/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Joseph Ting</h1>
					<h2>Cloud/DevOps Engineer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="/">Back Home</a></h3>
						<h3><a href="mailto:josephting919@gmail.com">josephting919@gmail.com</a></h3>
						<h3>(587)-889-9637</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Introduction</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Versatile, inquisitive and imaginative cloud problem solver utilizing cutting-edge technologies.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Cloud Engineering</h2>
									<p>Configuring and administering cloud resources.</p>
								</div>

								<div class="talent">
									<h2>DevOps</h2>
									<p>Implementing and maintaining CI/CD pipelines and observability. </p>
								</div>

								<div class="talent">
									<h2>Automation</h2>
									<p>Cutting labour hours through the automation of cloud tasks.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technology Stack</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>AWS & Azure</li>
								<li>SQL</li>
								<li class="last">Python</li>
							</ul>

							<ul class="talent">
								<li>Jenkins</li>
								<li>Git (github)</li>
								<li class="last">Terraform</li>
							</ul>

							<ul class="talent">
								<li>Docker and Kubernetes</li>
								<li>Ansible</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Cloud Training</h2>
								<h3>Solutions Architect, Cloud and DevOps Engineer</h3>
								<h4>2022-Current</h4>
								<p>-Scripting (Python, Boto3, AWS Lambda) to automate tasks in AWS. <br>
								   -Virtual Networking (subnets, CIDR blocks, route tables, peering, endpoints, network firewalls, etc.). <br>
							       -Identity and Access Management (AWS IAM, Azure AD, role-based access control (RBAC)).<br>
							       -Object level storage (s3, blob), and relational database configuration (RDS, Postgres). <br>
								   -High availability (load balancers, autoscaling/scalesets, failover routing). <br>
								   -Disaster recovery (snapshots, backup policy, site recovery). <br>
								   -Observability (Cloudwatch Logs, Azure Monitor, Prometheus and Grafana). <br>
								   -Configuration management using Ansible playbooks (e.g. automate patching and updates for worker nodes). <br>
								   -Infrastructure as code tools to provision resources (Terraform, Cloudformation, ARM templates). <br>
								   -CI/CD pipeline using technologies including Jenkins, Maven, Nexus Artifactory, Docker, Kubernetes, Ansible. <br>
								   -DevSecOps tools including static analysis (Sonarqube, Trivy) and dynamic application testing (ZAP). <br>
									<h3>Major Projects</h3> <br>
								<b>Three Tier Architecture</b> <br>
								   -Using Terraform and Cloudformation to provisioning networking (security groups, subnets), load balancers, front-end web applications, backend servers and RDS database. <br> <br>
								<b>Serverless Architecture</b>  <br>
								   -Using Terraform and to provision serverless solution using API gateway, Lambda, RDS, Cloudwatch Logs, Secrets Manager and more. <br> <br>
								<b>Dockerizing full-stack application and deploying to EKS</b> <br>
								   -Containerizing a full-stack web application, pushing to ECR, creating Kubernetes manifest files and deploying to an EKS cluster. <br> </p>
							</div>
<!--							<div class="job">-->
<!--								<h2>Apple Inc.</h2>-->
<!--								<h3>Senior Interface Designer</h3>-->
<!--								<h4>2005-2007</h4>-->
<!--								<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>-->
<!--							</div>-->

<!--							<div class="job">-->
<!--								<h2>Microsoft</h2>-->
<!--								<h3>Principal and Creative Lead</h3>-->
<!--								<h4>2004-2005</h4>-->
<!--								<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. Assertively incentivize sticky platforms without synergistic materials. </p>-->
<!--							</div>-->
							<div class="job last">
								<h2>Government of Alberta</h2>
								<h3>Demographic Analyst</h3>
								<h4>2016-Current</h4>
								<p>-Serving as a subject matter expert, consulting with internal and external stakeholders.<br>
								   -Querying, manipulating and analyzing data using SQL language.<br>
								   -Preparing data and running statistical models.<br>
								   -Leading the production of population forecasts for Alberta. <br>
								   -Producing numerous reports and briefings for ministers.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Calgary - Calgary, Alberta, Canada</h2>
							<h3>MA, Sociology (statistics concentration) </h3>
							<p>-Completed a thesis where I analyzed secondary survey data, using multiple and logistic regression to examine the relationship between social variables and attitudes towards climate change.</p>
						</div>
					</div><!--// .yui-gf -->

				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Joseph Ting &mdash; <a href="mailto:josephting919@gmail.com">josephting919@gmail.com</a> &mdash; (587) - 889-9637</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

